<div class="row">
    <div class="column">
        <div class="problem-display">
            <!-- <app-problem-display [problem]="problem"></app-problem-display> -->
            <app-problem-display></app-problem-display>
        </div>
        <div class="generate-text">
            <app-generated-text [generatedText]="generatedText" (requestGenerateText)="generateText()"></app-generated-text>
        </div>
    </div>
    
    <div class="column">
        <div class="text-input">
            <app-text-input (textSubmit)="processText($event)"></app-text-input>
        </div>
        
        <div class="audio-buttons">
                <app-audio-input (audioRecorded)="processAudio($event)"></app-audio-input>
                <app-transcribe-audio (transcriptionComplete)="transcribeAudio()"></app-transcribe-audio>
            </div>
        <div class="display-transcription">
            <app-transcribe-audio-output [text]="transcribedAudio"></app-transcribe-audio-output>
        </div>
        
    </div>
</div>




