<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Problem 1
        </mat-panel-title>

        <mat-panel-description>
          Duplicates in an array
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.</p>
      <p>example 1: Input: nums = [1,2,3,1] Output: true  <br>
         example 2: Input: nums = [1,2,3,4] Output: false  <br>
         example 3: Input: nums = [1,1,1,3,3,4,3,2,4,2] Output: true </p>
      <p></p>
      <p></p>
    </mat-expansion-panel>

</mat-accordion>